<form x-ng-submit="createMedia()">
	<label for="mediaId">Id</label>
	<div class="input-group">
  		<input type="text" class="form-control" id="mediaId" x-ng-model="media.id" x-ng-bind="media.id" disabled><br>
	</div>
	<label for="mediaTitre">Titre</label>
	<div class="input-group">
  		<input type="text" class="form-control" id="mediaTitre" x-ng-model="media.titre" x-ng-bind="media.titre"><br>
	</div>
	<label for="mediaAuteur">Auteur</label>
	<div class="input-group">
  		<input type="text" class="form-control" id="mediaAuteur" x-ng-model="media.auteur" x-ng-bind="media.auteur"><br>
	</div>
	<label for="mediaType">Type</label>
	<select x-ng-model="media.type" class="form-control" id="mediaType">
		<option>Livre</option>
		<option>CD</option>
		<option>DVD</option>
	</select><br>
	<button class="btn" type="submit">Add media</button>
</form>